@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --red-color: #cd4631;
    --blue-color: #81adc8;
    --background-color: #f7ede8;
}