//blocks
@use './var';
@use './reset';

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

body {
    height: 100%;
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    background-color: var(--background-color);
}

.main {
    flex: 1 1 auto;
}

button {
    color: inherit;
}

a {
    color: inherit;
}

.container {
    max-width: 1180px;
     margin: 0 auto;
    padding: 0 10px;
}

.page-title {
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: -0.04em;
    span {
        color: var(--red-color);
    }
}

section {
    position: relative;
    &::after {
        position: absolute;
        content: '';
        width: 45px;
        height: 150px;
        background-image: url('../images/divider.svg');
        background-repeat: no-repeat;
        left: 50%;
        transform: translateX(-50%);
        bottom: -75px;
        z-index: 10;
    }
}

.section-title{
    font-weight: 700;
    font-size: 59px;
    line-height: 120%;
    letter-spacing: -0.02em;
}

.section-subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
    color: #4d4d4d;
}

.item-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.02em;
}

.black-btn {
    border-radius: 8px;
    padding: 12px 0;
    text-align: center;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    background: #000;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.tag {
    border: 1px solid #4d4d4d;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 12px;
    color: #4d4d4d;
}

.latest {
    padding: 140px 0;
    background-color: #fff;
    &__title {
        text-align: center;
        margin-bottom: 100px;
    }
    &__tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
        padding-bottom: 20px;
        border-bottom: 1.5px solid #4d4d4d;
        &-btn {
            font-weight: 500;
            font-size: 22px;
            line-height: 160%;
            color: #4d4d4d;
            &.active {
                font-weight: 700;
                color: var(--red-color);
            }
        }
    }
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

