//blocks
@use './var';
@use './reset';


body {
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    background-color: var(--background-color);
}

button {
    color: inherit;
}

a {
    color: inherit;
}

.container {
    max-width: 1180px;
     margin: 0 auto;
    padding: 0 10px;
}

.section-title{
    font-weight: 700;
    font-size: 59px;
    line-height: 120%;
    letter-spacing: -0.02em;
}

.section-subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
    color: #4d4d4d;
}

.item-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.02em;
}

.black-btn {
    border-radius: 8px;
    padding: 12px 0;
    text-align: center;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    background: #000;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

