.about-promo {
    min-height: calc(100vh - 100px);
    padding-top: 64px;
    background-image: url('./images/promoBg.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    &__title {
        text-align: center;
        width: 539px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    &__text {
        text-align: center;
        width: 70%;
        margin: 0 auto;
        color: #4d4d4d;
        margin-bottom: 70px;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .about-promo__btn {
            border: 2px solid #000;
            border-radius: 8px;
            padding: 20px 36px;
            box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.25);
            background: #f7ede8;
            transition: all 0.3s;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.about-numbers {
    margin-bottom: 21px;
    .about-numbers__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        .about-numbers__item {
            border: 1.50px solid #000;
            border-radius: 8px;
            box-shadow: 6px 6px 0 0 #cd4631;
            background: #fff;
            padding: 59px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-main {
                margin-bottom: 20px;
                font-weight: 700;
                font-size: 59px;
                line-height: 120%;
                letter-spacing: -0.02em;
                color: var(--red-color);
                span {
                    color: #000;
                }
            }
            &-descr {
                text-align: center;
                color: #4d4d4d;
            }
        }
        
    }
    
}

.about-info {
    padding: 140px 0;
    background-color: #fff;
    &__title {
        text-align: center;
        margin-bottom: 20px;
    }
    &__subtitle {
        text-align: center;
        margin-bottom: 32px;
    }
    &__img {
        margin-bottom: 60px;
    }
    .about-history {
        &__title {
            font-weight: 700;
            font-size: 36px;
            line-height: 140%;
            letter-spacing: -0.02em;
            margin-bottom: 80px;
            text-align: center;
        }
        &__inner {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        &-text {
            color: #4d4d4d;
        }
    }
    
    .about-hosts {
        &__title {
            font-weight: 700;
            font-size: 36px;
            line-height: 140%;
            letter-spacing: -0.02em;
            margin-bottom: 80px;
            text-align: center;
        }
        &__inner {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }
   
}
